/*设置 “使用须知”、“个人技能”标题*/
            #impress  h3 {
				background: #1F6692;
				color: white;
				font-family: "楷体";
				font-size: 36px;
				font-weight: bold;
				margin-left: 20px;
				padding: 10px;
				text-align: center;
				width: 200px;
			}
			#impress #notice h3{
				margin : 20px 0px;
			}
			#impress #notice span{
				width:80px;
				height:30px;
			}
			#impress #notice li{
				border-bottom: 1px dotted;
			}
			#impress #notice li span{
				width : 50px;
			}
			/*设置个人信息step*/
			#impress  span {
				background: #1F6692;
				color: white;
				display: inline-block;
				margin-right: 20px;
				text-align: center;
				padding: 5px;
				width: 150px;
			}
			#impress #info p {
				margin: 20px;
				border-bottom: 1px dotted;
			}
			#impress .step #tel {
				color: green;
			}
			/*设置个人技能step*/
			#impress #tech span {
				width: 40px;
			}
			#impress #tech ul li {
				border: 1px dotted #083772;
				color: #083772;
				margin: 20px;
				padding: 10px;
			}
			/*设置图片渐变还有转换*/
			#impress .step img {
				height: 170px;
				width: 220px;
				transition: transform 2s;
                               -webkit-transition : -webkit-transform 2s;
                               -moz-transition : -webkit-transform 2s;
                               -ms-transition : -ms-transform 2s;
			}
			#impress .step img:hover {
				transform: scale(1.5);
                               -webkit-transform : scale(1.5);
                               -moz=transform : scale(1.5);
                               -ms-transform : scale(1.5);
			}
			/*写上一些话*/
			#impress .talk {
				background: #1F6692;
				border: 10px solid white;
				color: white;
				font-size: 35px;
				padding: 20px;
			}
